body {
  background-color: #333333;
  color: white;
  font-family: 'Albert Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: #1a1c22;
  height: 50px;
  display: flex;
}

.logo{ 
  width: 20%;
}

.search{
  
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.fa-search{
  color: white;
  margin: 0;
}
.search-bg{
  padding: 3px 10px;
  border-radius: 10px;
  background-color: #252525;
  width: 50%;
}
.search input{
  color: white;
  width: 90%;
  height: 30px;
  border: none;
  margin: 0;
  padding: 0px 10px;
  border-radius: 10px;
  background-color: #252525;
}

.search input:focus{
  border-bottom: solid 1px white;  
}

.profile{
  width: 20%;
}

main{
  padding: 50px 80px;
  background-color: indigo;
  background-color: #202127;
  display: flex;
}

.artist-side{
  background-color: #202127;
  width: 100%;
  
}

.title{
  /* background-color: green; */
  width: 100%;
  display: flex;
  margin-bottom: 35px;
}

.artist-img{
  /* background-color: blue; */
  /* width: 25%; */
  height: 25%;
  border-radius: 30px;
}

.name{
  display: flex;
  align-items: center;
  width: 100%;
}

.artist-name{
  font-size: 50px;
  margin: 0px 30px 10px 30px;
  box-sizing: border-box;
  font-weight: 600;
}

h3{
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  
}

.top-sng{
  /* background-color: rgb(255, 119, 0); */
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
}

.labels, table{
  /* background-color: rgba(255, 166, 0, 0.482); */
  width: 100%;
  margin: 0;
  margin-top: 20px ;
  padding: 0;
  box-sizing: border-box;
}

.label{
  background-color: #2c2c2c;
  width: 100%;
  padding: 15px;
  border-radius: 25px ;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.cover-img{
  /* background-color: #ffffff; */
  width: 56px;
  height: 56px;
  border-radius: 10px;
  overflow: hidden;
}

.song-data{
  /* background-color: red; */
  width: 60%;
  display: flex;

}

.data-up{
  /* background-color: green; */
  width: 100%;
  box-sizing: border-box;
  display: flex;
}

.btn-play{
  /* background-color: rgba(0, 0, 255, 0.164); */
  width: 10%;
  height: 10%;
  margin: 0px 10px 0px 15px;
  text-align: start;
  box-sizing: border-box;
}

#playAudio{
  width:24px; 
  height:24px;
  /* background-color: #33333300; */
  border: none;
  color: white;
  font-weight: 600;
}

#playAudio:hover {
  color: #b7cfff;
}

h5{
  /* background-color: indianred; */
  width: 90%;
  font-size: 20px;
  margin: 0;

  font-weight: 600;
  box-sizing: border-box;
}

.data-down{
  
  width: 100%;
  box-sizing: border-box;
  
}
.data-down p{
  color: #808080;
  margin: 8px 10px 0px 15px;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
}

.like{
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.fa-heart{
  font-size: 18px;
  color:#2c2c2c;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-width: medium;
}

.fa-heart:hover, .fa-heart:active, .fa-heart:focus {
  color: red;
  -webkit-text-stroke-color: red;
  -webkit-text-stroke-width: medium;
}

.time{
  /* background-color: green; */
  width: 10%;
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  text-align: end;
}

button {
  background-color: #33333300;
  border: none;
  
}

/* button {
  background-color: #0e55e2;
  margin-bottom: 20px;
  width: 100px;
  padding: 8px;
  margin-right: 30px;
  border-radius: 8px;
  border: none;
  color: white;
  font-weight: 600;
}

button:hover {
  background-color: #1d5cda;
} */











